@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
}

.overflow-y-auto::-webkit-scrollbar {
  display: none;
}

.marker:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(255 247 237);
  bottom: -9px;
  left: 50%;
  margin-left: -10px;
}
